<header class="site-header" [ngClass]="{ 'collapsed': isCollapsed, 'expanded': !isCollapsed }">
  <img ngSrc="/banner.png" alt="Banner" class="site-banner" height="1080" width="3840" priority/>

  <div class="header-content">
    <h1 class="site-title">
      <span>Solution</span>
      <small>Where Charm Meets Dread</small>
    </h1>

    <nav class="site-nav">
      <button routerLink="">Home</button>
      <button routerLink="/social">Social</button>
      <button routerLink="/assets">Unity Assets</button>
    </nav>
  </div>
</header>
